
.button {
    width: 100%;
    height: 35px;
    padding-top: 7px;
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center;
    color: white;
    font-size: 14;
    font-weight: bold;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-image: linear-gradient(to right, #519F40, #97C78D);
}

.button:hover {
    cursor: pointer;
}