
.footer {
    width: 100%;
    background-color: #33302D;
    text-align: center;
    padding: 30px 0;
}

.section {
    display: block;
    padding-top: 35px;
    color: #fafafa;
    font-size: 16px;

}

.section > .link {
    display: inline-block;
    padding: 0 20px;
}

.section > .link:hover {
    cursor: pointer;
}