
.card {
    display: inline-block;
    width: 250px;
    height: 300px;
    /* background-color: red; */
    background-color: #fafafa;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    position: relative;
    width: 100%;
    height: 55%;
    background-color: blue;
}

.like {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
}

.like-container {
    padding: 8px 6px 0 0;
}

.price {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    bottom: 40px;
    right: 20px;
    color: white;
}

.stars {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.stars > * {
    display: inline-block;
}

.details {

}

.details > .title {
    padding: 15px 10px;
    font-weight: 400;
    color: black;
    font-size: 20px;
} 

.button-container {
    margin-top: 10px;
    padding-left: 5%;
    width: 90%;
}
