.container {
    width: 100%;
    clear: both;
    padding: 20px 10%;
    box-sizing: border-box;
    overflow: auto;
}

.container:after {
    clear: both;
}

.item-container {
    content: '';
    float: right;
}

.item-container:after {
    content: "";
    display: block;
    clear: both;
}

.image {
    float: right;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background-color: red;
}

.body {
    float: right;
    padding: 0 15px;
    box-sizing: border-box;
    width: calc(100% - 300px);
}

.like {
    width: 30px;
    display: inline-block;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    margin: 0 10px;
}

.like-container {
    padding: 8px 6px 0 0;
}

.stars {
    display: inline-block;
}

.stars > * {
    display: inline-block;
}

.title {
    padding: 15px 0;
    font-size:35px;
}

.button-container > * {
    display: inline-block;
    height: 30px !important;
    width: 175px !important;
    padding: 5px 0 !important;
    margin: 0 5px;
}

.price {
    font-size: 30px;
    font-weight: bold;
}

.description {
    padding: 20px 0;
}

.similar-product {
    margin: 15px 0;
}

.similar-title {
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.items > * {
    margin-left: 10px;
}