
.background {
    background-color: #D0E8CD;
    width: 100%;
    height: 500px;
    padding: 80px;
    box-sizing: border-box;
}

.container {
    background-image: linear-gradient(to right, rgba(203, 223, 199, 1), rgba(203, 223, 199, 0));
    height: 340px;
    width: 80%;
    margin: auto;
}