

.section {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.right {
    float: right;
    width: 20%;
    height: 100%;
    margin-right: 5%;
    text-align: center;
}

.right > .title {
    padding-top: 100px;
    line-height: 60px;
    font-size: 45px;
    font-weight: bold;
}

.right > .go-to {
    padding-right: 50px;
    text-align: right;
    padding-top: 20px 100px;;
    font-size: 20px;
}

.right > .go-to:hover {
    cursor: pointer;
}

.left {
    float: left;
    margin-left: 5%;
}

.left > * {
    margin: 50px 10px;
}