.tags {
    width: 100%;
    height: 50px;
    padding: 10px 10%;
    background-color: #CBDFC7;
    box-sizing: border-box;
}

.tags:after {
    content: "";
    clear: both;
}

.tags > * {
    float: right;
    margin-left: 20px;
    padding: 5px 0;
}

.line  {
    width: 2px;
    height: 35px;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #969696;
}

.link {
    padding: 5px;
}

.link:hover {
    cursor: pointer;
}