* {
    margin: 0;
    padding: 0;
    font-family: 'Bahij TheSansArabic';
}

body {
    /* D0E8CD */
    background-color: #EFEFEF;
    text-align: right;
}

.top-bar {
    height: 60px;
    background-color: #fafafa;
    padding: 0 10%;
    box-sizing: border-box;
    position: relative;
}

.logo {
    float: right;
    padding: 15px 0;
}

.search {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.search > input {
    width: 25vw;
    height: 25px;
    padding: 5px 10px;
    border: none;
    text-align: right;
    background-color: #EEEEEE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search > span {
    float: left;
    background-color: #EEEEEE;
    width: 35px;
    height: 35px;
    padding-top: 7px;
    padding-right: 5px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pages {
    float: left;

}

.pages > * {
    float: right;
    padding: 22px 10px;
    font-size: 18px;
    font-weight: thin;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.pages > .selected {
    color: #78A36F;
}

.pages > *:hover {
    cursor: pointer;
}

.line  {
    width: 2px;
    height: 35px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #969696;
    float: left;
}

.icons {
    float: left;
}

.icons > .icon {
    float: right;
    position: relative;
    height: 10px;
    padding: 17px 17px;
    margin: 15px 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.icons > .icon > * {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.icons > *:hover {
    background-color: #E9E9E9;
    cursor: pointer;
}